<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Muze Rating Suite</Name>
    <Version>0.2.0.0</Version>
    <Title>Muze Raring Suite Installer</Title>
    <Publisher>Muze Rating Software</Publisher>
	<ProductUrl>https://github.com/Jalopy-Tech/Muze-Rating-Suite/blob/master/README.md</ProductUrl>
    <StartMenuDir>Muze Rating Suite</StartMenuDir>
    <TargetDir>@ApplicationsDirX64@/Muze Rating Suite</TargetDir>
	    <InstallerWindowIcon>muzeratingsuite</InstallerWindowIcon>
	<InstallerApplicationIcon>muzeratingsuite</InstallerApplicationIcon>
	<RunProgram>@ApplicationsDirX64@/Muze Rating Suite/muzerater/muzerater.exe</RunProgram>
	<RunProgramDescription>Launch Muze Rater (both Muze Rater and Muze Rating Calculator can be launched from the start menu or desktop)</RunProgramDescription>
	<WizardDefaultWidth>800</WizardDefaultWidth>
	<WizardStyle>Modern</WizardStyle>
	<Logo>logo.png</Logo>
    <Watermark>watermark.png</Watermark>
	<ControlScript>controlscript.js</ControlScript>
	<SupportsModify>false</SupportsModify>
	<CreateLocalRepository>false</CreateLocalRepository>
</Installer>